/*Wrapper App*/
.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*Loading*/
.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/*Header dropdown*/
@media (max-width: 768px) {
  .custom-navdropdown {
    max-width: 30%;
  }

}

/*Virtual clock*/
.custom-virtual-clock {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
}

/*Chips input */

.chip-list {
  list-style: none;
  margin: 0px;
  padding: 5px;
  max-width: 85%;
}

.chip {
  display: inline-block;
  white-space: 'nowrap';
  background: #555;
  color: white;
  padding: 3px 5px 3px 10px;
  border-radius: 15px;
  margin: 2px;
  align-items: center;
}

.chip a {
  color: white;
  text-decoration: none;
  margin: 5px;
  font-size: 13px;
  background: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chips-input {
  display: inline-flex;
  border: 0px;
  border-radius: 15px;
  background: none;
  flex-grow: 1;
  min-width: 50px;
  margin: 3px;
  padding: 5px;
}

/*Loading*/
.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.navbarMargin {
  margin-top: 1rem;
}

.colorStyle {
  color: white;
}

.footer_application {
  color: black;
  justify-content: space-between;
}

.margin_left_accordition {
  margin-left: 2rem;
}

.button-apply {
  text-align: end;
  margin-right: 2em;
}

.confirmation_application_div {
  width: 100%;
}

table.table-rounded {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

table.table-rounded thead tr {
  background-color: #4682B4 !important;
  text-align: center;
  color: #fff;
  /* Specify your custom text color if needed */
}

.leftText {
  padding-inline-start: 0.8rem;
  font-weight: 680;
}


.table-footer {
  text-align: left;
  font-size: 13px;
  margin-left: 2rem;
}

.text-center {
  text-align: center;
}

.button-apply {
  margin-right: 1em;
}


.rightText {
  text-align: center;
  vertical-align: middle;
}

.button-style {
  background-color: #4682B4;
  border-color: #4682B4;
}

.button-style:hover {
  background-color: #215884;
  border-color: #215884;
}

.button-style-cancel {
  background-color: #e19861;
  border-color: #e19861;
  margin-right: 0.5em;
}

.button-style-trash {
  background-color: transparent;
  border-color: transparent;
  color: #e19861;
  margin-left: 0.2em;
}

.button-style-trash:hover {
  background-color: transparent;
  border-color: transparent;
  color: #e19861;
  margin-left: 0.2em;
}

.button-style-cancel:hover {
  background-color: #f27e25;
  border-color: #f27e25;
  margin-right: 0.5em;
}

.link-style {
  background-color: #ffffff;
  border-color: #ffffff;
}

.link-style:active {
  background-color: #4682B4;
  border-color: #4682B4;
}

.accordion-button-custom {
  padding: 0 !important;
  vertical-align: middle;
  font-weight: 680;
}

.accordion-item-custom {
  border: none;
}

.accordion-td-custom {
  vertical-align: middle;
}

.accordion-body-custom {
  vertical-align: middle;
}

.bold {
  font-weight: 680;
}

.accordion-button-custom:hover .accordion-button-custom:focus {
  box-shadow: white !important;
  border-color: white !important;
}

.accordion-button-custom:not(.collapsed) {
  background-color: white !important;
  border-color: white !important;
  box-shadow: none !important;
  color: rgb(0, 0, 0) !important;
}

.customLeftColumn {
  width: 15%;
  /* Adjust the width as needed */
}

.btn-outline-danger {
  border-color: white !important;
}

.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #fff;
}

.file-item span {
  margin-right: 8px;
}

.file-name {
  flex-grow: 1;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
}

.drop-area-wrong {
  border: 2px dashed #e19861;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
}

.text-wrong {
  color: black;
  font-weight: 500;
}

.text-wrong-underlined {
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #f27e25;
  text-decoration-thickness: 15%;

}

.smaller-heading {
  font-size: 24px;
  /* Adjust the size as needed for mobile devices */
}

.drop-area:hover {
  background-color: #f0f0f0;
}

/* Margin for tables and alerts - SearchProposal*/
.margin-custom {
  margin: 2rem;
}

/* Margin for Titles */
.margin-titles-custom {
  margin-bottom: 2rem;
}

/* Margin for Buttons */
.margin-buttons-custom {
  margin-left: 1rem;
}

.clear-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 100%;
  margin-right: 3rem;
}

.Form.Group {
  position: relative;
}

.clear-btn span {
  font-size: 18px;
  color: #999;
}

.search-button {
  margin-left: 1em;
  font-size: larger;
  color: black;
}

.custom-input {
  transition: box-shadow 0.3s ease;
  outline: none;
  box-shadow: none;

  &:focus {
    box-shadow: 0 0 0px 0.5px #4682B4;
  }
}

@media (min-width: 765px) {
  .title-mediumScreen {
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid rgb(254, 252, 252);
    /* Add a border for testing */
  }
}

.custom-accordion-item-custom {
  border-bottom: 1px solid #b3b9c2c6;
}