/*Wrapper App*/
.wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 400;
    color: #404040;
    font-family: 'Titillium Web';
  }
    /*Loading*/
    .loader-container{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
    }
  
.head_tableApplication{
  text-align: center;
}
.navbarMargin{
  margin-top: 1rem;
}
.colorStyle{
  background-color: #003576;
  color: white;
}